#menu{
  display: flex;
  border: 2px solid black;
  width: 1800px;
  height: 3700px;
  justify-content: center;
  margin: 30px;
  flex-direction: column;

}
#menu > section:nth-child(1) {
border: 2px solid black;
margin: 30px;
width: 1730px;
height: 850px;
}

#spongebob {
  width: 1700px;
  height: 800px;
  margin: 30px;
}
#menu h1 {
  font-size: 100px;
  position: relative;
  bottom: 900px;
  margin: 30px;
}
#subject{
  display: flex;
  font-size: 50px;
  justify-content: end;
  position: relative;
  bottom: 880px;
  right: 250px;
}

#subject > h3{
  position: relative;
  bottom: 50px;
  right: 20px;
}
#subject a {
  text-decoration: none;
  color: black;

}
/* ------------------------------------------------------ */


#menu > section:nth-child(2) {
border: 2px solid black;
margin: 30px;
width: 1730px;
height: 850px;
display: flex;
}
#profile {
  display: flex;
  flex-direction: column;
}

#siba {
  margin: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
#name {
  position: relative;
  top: 0px;
  right: 50px;
  display: flex;

}

#주소 {
  font-size: 25px;
  position: relative;
  left: 800px;
  bottom: 500px;
}
#profile > div:nth-child(2){
  font-size: 50px;
}



#menu> section:nth-child(3) {
border: 2px solid black;
margin: 30px;
width: 1730px;
height: 850px;
}
#menu> section:nth-child(4) {
border: 2px solid black;
margin: 30px;
width: 1730px;
height: 850px;
}
