.box{
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

/* width / height : 속성은 기본적으로
  content 영역의 크기를 지정하는 속성 */

  .border {
    border: 10px solid red;
  }

  .padding {
    padding: 30px;
  }

  /* 서로 다른 요소의 marjin이 겹칠 경우
   더 큰 margin을 가진 요소의 값을 따른다 */
  .marjin {
    margin: 50px;
  }

  #m1 {
    margin: 100px;
  }

  /* 
    테두리 10
    패딩 20
    내용 나머지 
    전체 요소 크기가
    너비/높이 300 인 정사각형 만들기
  */

#box-sizing {
  border: 10px solid black;
  padding: 20px;

  width: 300px;
  height: 300px;

  box-sizing: border-box;
  /* width / heiht 에
  paddin + border + content가 포함됨 */

}
/* 
* {
  box-sizing: border-box;
} */

/* -방향성----------------------------------------------------------- */

.padding-test {
  /* padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 100px; */

  /* 값1개 : 상하좌우 */
  /* padding: 30px; */

  /* 값2개 : 상하,좌우 */
  /* padding: 50px 100px; */

  /* 값3개 : 상, 좌우, 하 */
  /* padding: 10px 50px 100px; */

  /* 값4개 : 상, 우, 하 ,좌*/
  padding: 10px 20px 30px 40px;
}

.border-test {
  /* border는 별도로 방향을 지정할 수 없음 */

  border-top: 3px solid black;
  border-bottom: 5px dashed magenta;
  border-left: 10px dotted blue;
  border-right: 10px double orange;
}

.box-container {
  border: 2px solid black;
  width: 500px;
  height: 300px;
}

.margin-auto {
  /*margin-left: 200px;  부모 크기가 바뀌면 가운데로 안옴
  */
  margin: auto;
  margin-top:100px;
  /* 좌우 요소간의 간격을 자동으로 지정하여 가운데 정렬 
  -> 갑자기 margin-top 을 무시

  왜?
  margin 속성 자체가 상하좌우 동시에 지정하는 속성이라
  top 부분에도 auto가 지정되어 이전 100px 덮어쓰기함
  -> 해결방법
  margun:auto 보다 아래쪽에 top 부분에 적기
  */
}