#test1 > p:only-child{
  background-color: seagreen;
}

#test2 > p:only-of-type{
  background-color:red;
}

#test3 > p:empty{
  background-color: aqua;
  height: 30px;
}

#test4-1,#test4-2,.test4-3{
  background-color: yellow;
  color: black;
}

/* #test5-1 후손 중 클래스가 c5인 요소를 선택*/

#test5-1 .c5{
  background-color: aquamarine;
}

/* #test5-2 자식 중 클래스가 c5인 li요소를 선택*/
#test5-2 > li.c5 {
  background-color: tomato;
}

/* , 사용 하지 않기 */
.test6.c6{
  background-color: cadetblue;
}